{% extends 'base.html' %}
{% load static %} 

{% block title %}Dealership Review - Dealership Details{% endblock %}
{% block review %}<a href="{% url 'djangoapp:add_review' dealer.id %}">Add review</a>{% endblock %}

{% block content %}
Reviews for <h1>{{dealer.full_name}}</h1>
{% if reviews|length  == 0 %}
    <p>No reviews</p>
{% else %}
<div class="card-columns">
    {% for review in reviews %}
    <div class="card">
        {% if review.sentiment == "positive" %}
            <img class="card-img-left m-2" width='64px' src="{{MEDIA_URL}}/emoji/positive.png" alt="Green"/>
        {% endif %}
        {% if review.sentiment == "neutral" %}
            <img class="card-img-left m-2" width='64px' src="{{MEDIA_URL}}/emoji/neutral.png" alt="Amber"/>
        {% endif %}
        {% if review.thresdholf == "negative" %}
            <img class="card-img-left m-2" width='64px' src="{{MEDIA_URL}}/emoji/negative.png" alt="Red"/>
        {% endif %}
        <div class="card-body">
            <div class="card-title">
                <h3>
                    {{review.car_make}}, {{review.car_model}}
                </h3>
            </div>
            <div class="card-title">
                <h4>                    
                    {{review.car_year}}
                </h4>
            </div>
            <div class="card-text">
                {{review.review}}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
   
{% endblock %}